@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #595DB8;
}
.sortable-list{
    background: #fff;
    width: 445px;
    border-radius: 6px;
    padding: 30px 25px 20px;
    margin: 10px 20px;
}
.sortable-list .item{
    list-style: none;
    display: flex;
    border-radius: 5px;
    margin-bottom: 11px;
    padding: 10px 13px;
    align-items: center;
    border: 1px solid #ccc;
    justify-content: space-between;
}
.item .details {
    display: flex;
    align-items: center;
}
.item .details img{
    width: 43px;
    height: 43px;
    margin-right: 12px;
    object-fit: cover;
    border-radius: 50%;
}
.item .details span{
    font-size: 1.13rem;
}
.item i{
    color: #474747;;
    font-size: 1rem;
    cursor: move; /* To show cursor move icon */
}
.item.dragging :where(.details, i){
    opacity: 0;
}
